@import '../../style/common.less';

@bannerGenericHeight: 400px;

.bannergeneric {
  position: relative;
  background-size: cover;
  width: 100%;

  @media only screen and (min-width: @tabletWidth) {
    height: @bannerGenericHeight;
  }

  @media only screen and (min-width: @mobileWidth) and (max-width: @tabletWidth - 1) {
    height: @bannerGenericHeight * 0.9;
    font-size: 0.9em;
  }

  @media only screen and (max-width: @mobileWidth - 1) {
    height: @bannerGenericHeight * 0.7;
    font-size: 0.7em;
  }

  .content-column-wrapper {
    position: relative;
    height: 100%
  }

  .bannergeneric-content-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: fade(@mainColor, 70%);
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    @media only screen and (min-width: @tabletWidth) {
      width: 25%;
      min-width: 300px;
    }

    @media only screen and (min-width: @mobileWidth) and (max-width: @tabletWidth - 1) {
      width: 25%;
      min-width: 300px;
      right: 30px;
    }

    @media only screen and (max-width: @mobileWidth - 1) {
      width: 50%;
      min-width: 250px;
    }
  }

  h1, h2, h3, h4 {
    line-height: 1.5;
  }

  .bannergeneric-leadingtext {
    font-size: 1.6em;
    widtH: 60%;
    font-weight: 100;
  }

  .bannergeneric-tagline {
    font-size: 2.25em;
    font-weight: 100;
    margin-bottom: 0.4em;
  }

  .bannergeneric-markingline {
    font-size: 1.4em;
    font-weight: 100;
  }

  .bannergeneric-login-button {
    margin-top: 3em;
    width: 100%;
    font-size: 1.1em;
    padding: 0.75em 2em;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: @tabletWidth) {
  .apply-side-whitespace {
    min-width: @tabletWidth;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
