/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.bundle-configurator-modal-content .quantity-col {
  visibility: hidden;
}
.bundle-configurator-modal-content .bundle-configurator-available-items .remove-btn-col {
  display: none;
}
.bundle-configurator-modal-content .feedback-label {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.bundle-configurator-modal-content #login_modal_form span {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.bundle-configurator-modal-content #login_modal_form .form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bundle-configurator-modal-content .modal-content {
  background-color: #fff;
  border: none;
  padding: 12px;
}
.bundle-configurator-modal-content .bundle_configurator_modal_close_button {
  font-size: 30px;
}
.bundle-configurator-modal-content .form-input.btn-container {
  padding-top: 15px;
}
