/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.app-header {
  z-index: 5;
}
.app-header .main-container {
  min-height: 60px;
  display: flex;
  width: 100%;
  padding-right: 10px;
}
.app-header .main-container .toggle-btn-container .back-btn {
  border: 0;
  background-color: transparent;
  padding: 16px 10px 10px;
  cursor: pointer;
}
.app-header .main-container .toggle-btn-container .back-btn .icon {
  color: #fff;
  font-size: 20px;
}
.app-header .main-container .logo-container {
  padding-left: 25px;
  padding-top: 4px;
}
.app-header .main-container .logo-container .logo {
  padding: 15px;
  display: block;
}
.app-header .main-container .logo-container .logo .logo-image {
  height: 20px;
}
.app-header .main-container .central-container {
  flex: 1;
  text-align: center;
  padding: 14px 0;
  margin: 0 auto;
}
.app-header .main-container .central-container .horizontal-menu {
  padding-left: 120px;
}
.app-header .main-container .search-container {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 9px;
}
.app-header .main-container .login-container {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 9px;
}
.app-header .main-container .cart-link-container {
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 9px;
  padding-right: 9px;
}
.app-header .main-container .cart-link-container .cart-link {
  display: block;
  width: 23px;
  padding: 10px;
  height: 21px;
  background: #ffffff00 url(../../../images/header-icons/bag-icon.png) no-repeat 0px;
  background-position: center top;
  line-height: 0;
  font-size: 0;
  background-size: cover;
  position: relative;
}
.app-header .main-container .cart-link-container .cart-link .cart-link-counter {
  right: 0;
  left: unset;
  transform: translate(25%, -25%);
}
.app-header .main-container .locale-container {
  width: 120px;
  text-align: right;
  padding-top: 27px;
  padding-right: 20px;
}
.app-header .main-container .toggle-btn-container {
  display: none;
}
.app-header .main-container .toggle-btn-container .toggle-btn {
  border: 0;
  background-color: transparent;
  padding: 16px 10px 10px;
  cursor: pointer;
}
.app-header .main-container .toggle-btn-container .toggle-btn .icon {
  color: #fff;
  font-size: 22px;
}
.app-header .main-container .search-toggle-btn-container {
  display: none;
}
.app-header .cart-link-counter {
  text-align: center;
  position: absolute;
  background-color: #40b1f3;
  min-width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 50%;
  color: white;
  top: 0;
  left: 0;
  font-weight: bold;
}
.app-header .collapsable-container {
  display: none;
}
@media (max-width: 1091px) {
  .app-header .main-container {
    position: relative;
    justify-content: flex-end;
  }
  .app-header .main-container .logo-container {
    padding-left: 0px;
    padding-top: 0px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .app-header .main-container .central-container {
    display: none;
  }
  .app-header .main-container .search-container {
    display: inline-block;
  }
  .app-header .main-container .login-container {
    display: inline-block;
  }
  .app-header .main-container .cart-link-container {
    display: inline-block;
    margin-right: 5px;
  }
  .app-header .main-container .locale-container {
    display: none;
  }
  .app-header .main-container .toggle-btn-container {
    position: absolute;
    left: 10px;
    display: block;
  }
  .app-header .main-container.in-standalone .toggle-btn-container {
    left: 0px;
  }
  .app-header .collapsable-container {
    display: block;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
  }
  .app-header .collapsable-container .mobile-locale-container {
    padding: 20px 0 0 5px;
  }
  .app-header .collapsable-container .search-container {
    display: none;
  }
  .app-header .collapsable-container .mobile-cart-link-container {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
  }
  .app-header .collapsable-container .mobile-cart-link-container a {
    color: #040060;
    font-size: 19px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 47px;
  }
  .app-header .collapsable-container .mobile-cart-link-container a div {
    padding: 10px 0px 10px 0px;
  }
  .app-header .collapsable-container .mobile-cart-link-container a .cart-link-counter-container {
    display: inline;
    position: relative;
  }
  .app-header .collapsable-container .mobile-navigation-separator {
    border-top: 1px solid #040060;
    width: 85%;
  }
  .app-header .collapsable-container .mobile-navigation-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .app-header .collapsable-container .cart-link:active {
    background-color: #ccc;
  }
  .app-header .collapsable-container .mobile-login-container {
    text-align: center;
  }
  .app-header .collapsable-container .mobile-login-container .login-btn {
    text-transform: uppercase;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .app-header .main-container .logo-container {
    padding-left: 0;
    padding-top: 0;
    display: block;
    position: absolute;
    left: 100px;
  }
  .app-header .main-container .search-container {
    display: none;
  }
  .app-header .main-container .search-toggle-btn-container {
    padding-top: 18px;
    display: block;
  }
  .app-header .main-container .search-toggle-btn-container .search-toggle-btn {
    border: none;
    background: none;
  }
  .app-header .main-container .search-toggle-btn-container .search-toggle-btn .search-icon {
    background: #ffffff00 url('../../../images/header-icons/magnifying-glass.png') no-repeat 9px center;
    width: 35px;
    height: 21px;
  }
  .app-header .main-container.in-standalone .logo-container {
    left: 130px;
  }
  .app-header .collapsable-container .search-container {
    display: block;
  }
}
.app-header .network-offline.alert {
  padding: 15px;
}
.app-header .network-offline.alert-primary {
  text-align: center;
  z-index: 1;
  width: 50%;
  position: absolute;
  left: 25%;
}
.app-header .network-offline.fade.in {
  opacity: 1;
}
