/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.cart-selection-modal-content {
  min-width: 500px;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region {
  height: calc(100vh / 3);
  overflow-x: auto;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio {
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
  padding-left: 0px;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio label.custom-radio-button {
  padding-top: 5px;
  margin: 0;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio label.custom-radio-button input[type="radio"] {
  opacity: 0;
  display: none;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio label.custom-radio-button input[type="radio"] ~ .helping-el {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  padding: 11px;
  position: relative;
  vertical-align: middle;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio label.custom-radio-button input[type="radio"]:checked ~ .helping-el {
  border: 1px solid #000000;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .radio label.custom-radio-button input[type="radio"]:checked ~ .helping-el:after {
  background-color: #40b1f3;
  border-radius: 50%;
  content: " ";
  font-size: 33px;
  height: 18px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.cart-selection-modal-content #cart_selection_modal_form .carts-selection-region .division-message {
  text-align: center;
}
.cart-selection-modal-content #cart_selection_modal_form .action-row {
  box-shadow: 0px -20px 20px -20px #888888;
}
.cart-selection-modal-content #cart_selection_modal_form .form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.cart-selection-modal-content .modal-content {
  background-color: #fff;
  border: none;
}
.cart-selection-modal-content .bundle_configurator_modal_close_button {
  font-size: 30px;
}
.cart-selection-modal-content #simplemodal-container .feedback-label {
  color: red;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}
.cart-selection-modal-content .form-input.btn-container {
  padding-top: 15px;
  text-align: center;
}
.cart-selection-modal-content .form-container {
  margin: auto 30px;
  text-align: center;
}
.cart-selection-modal-content .panel {
  margin-bottom: 10%;
}
@media (max-width: 767px) {
  .cart-selection-modal-content #cart_selection_modal_form .carts-selection-region {
    max-height: 100%;
    height: calc(100vh - 200px);
  }
}
@media (max-width: 767px) {
  .cart-selection-modal-content {
    min-width: 100%;
  }
  .cart-selection-modal-content .modal-content {
    height: 100%;
  }
}
