/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.featured-category-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: @complimentGrey;

    .text-container {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;

        .content-box {
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 50%;
            bottom: 50%;
            display: block;
            padding: 40% 30px;

            .text-box {
                font-size: 1.5em;
                padding-bottom: 15px;
            }
        }
    }
    .image-container {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
        display: inline-block;
        position: relative;
        
        .category-image {
            object-fit: cover;
            object-position: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    @media (max-width: @mobileWidth) {
        flex-direction: column;

        .text-container {
            width: 100%;
            min-height: 200px;
            height: auto;
            display: block;
            position: relative;
            order: 2;
    
            .content-box {
                top: 20%;
                bottom: 0;
                padding: 0;
                width: 100%;
    
                .text-box {
                    font-size: 1em;
                    padding: 0px 15px 10px;
                }
            }
        }
        .image-container {
            width: 100%;
            height: 0;
            padding-bottom: 50%;
            display: block;
            position: relative;
            order: 1;
            
            .category-image {
                object-fit: cover;
                object-position: center;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
    

}

