/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.checkout-summary-commercial {
  .checkout-summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .checkout-total {
    margin-top: 1rem;
    font-weight: bold;
  }
  .cart-summary-label-col {
    margin-bottom: 1rem;
  }
  .cart-coupons {
    align-content: center;
  }
  .cart-remove-promotion {
    text-transform: uppercase;
    margin: 5px;
    text-shadow: none;
    color: @complimentBlueColor;
    background-color: #ffffff;
    border: solid 1px @complimentBlueColor;
    text-align: middle;
    white-space: nowrap;
    min-width: 60px;
    height: 20px;
    font-size: 9px;

    &:hover {
      background-color: @complimentBlueColor;
      color: #ffffff;
    }
  }

  .cart-coupons {
    margin-bottom: 10px;

    .promotions-table {
      .promotion-display {
        text-align: right;
        padding-right: 5px;
        margin: 6px 0 6px 0;
        font-weight: 500;
      }

      .promotion-remove {
        text-align: left;
        padding-left: 5px;
      }
      min-width: 150px;
      width:100%;
    }
  }
}
