/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.featured-product-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  height: 535px;
  margin: 10px 0px;
}
.featured-product-component .text-container {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.featured-product-component .text-container .content-box {
  object-fit: cover;
  object-position: center;
  position: absolute;
  display: block;
  padding: 10% 30px;
}
.featured-product-component .text-container .content-box .item-price-container {
  font-size: 2em;
}
.featured-product-component .text-container .content-box .item-price-container .item-list-price {
  text-decoration: line-through;
}
.featured-product-component .text-container .content-box .item-title {
  font-size: 2em;
  color: #333333;
}
.featured-product-component .text-container .content-box .text-box {
  font-size: 1.5em;
  margin-bottom: 15px;
  max-height: 240px;
  overflow: hidden;
  position: relative;
}
.featured-product-component .text-container .content-box .text-box .gradient-box {
  position: absolute;
  top: 150px;
  height: 100px;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, transparent, #f3f3f3);
}
.featured-product-component .image-container {
  width: 50%;
  display: inline-block;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.featured-product-component .image-container .left-image {
  box-shadow: -30px 30px #40b1f3;
}
.featured-product-component .image-container .right-image {
  box-shadow: -30px 30px #040060;
}
.featured-product-component .image-container .product-image {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .featured-product-component {
    flex-direction: column;
    height: 100%;
  }
  .featured-product-component .text-container {
    width: 100%;
    text-align: center;
    min-height: 200px;
    height: auto;
    display: block;
    position: relative;
    margin: 40px 0px;
    order: 2;
  }
  .featured-product-component .text-container .content-box {
    top: 20%;
    bottom: 0;
    padding: 0;
    width: 100%;
  }
  .featured-product-component .text-container .content-box .text-box {
    display: none;
  }
  .featured-product-component .image-container {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    display: block;
    position: relative;
    order: 1;
  }
  .featured-product-component .image-container .product-image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    box-shadow: none;
  }
}
