/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';
 
.pay-by-po-input {
    width: 280px;
}
// .payment-methods-main-container {
//     float: left;
//     width: 100%;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-bottom: 32px;
//     margin-top: 32px;
// }

.payment-methods-container {
    position: relative;
  
    .payment-methods-inner {
      .view-title {
        text-transform: capitalize;
      }
  
      .payment-methods-title-container {
        h1 {
          float: left;
          position: relative;
          width: 70%;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 5px;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 24px;
          color: gray;
          width: 100%;
          border-bottom: 1px solid @mainGrey;
          background: #ffffff;
          z-index: 4;
        }
      }
  
  
    .payment-methods-main-container {
      float: left;
      width: 100%;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 32px;
      margin-top: 32px;
  
      @media (max-width: @tabletWidth - 1px) {
        float: left;
        width: 66%;
      }
  
      @media (max-width: @mobileWidth - 1px) {
        float: left;
        width: 100%;
      }
  
      .payment-option-radio {
        vertical-align: top;
        margin-right: 16px;
      }

      [data-region="paymentMethodSelectorsRegion"] {
        position: relative;
      }
  
      [data-region="paymentMethodsRegion"] {
        margin-bottom: 48px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-left: 0;
        padding-right: 0;
  
        h2 {
          margin-top: 0;
        }
  
        @media (min-width: @tabletWidth) {
          float: left;
        }
      }
  
      .checkout-region-inner-container {
        float: left;
        width: 100%;
  
        .address-ctrl-cell {
          float: left;
          width: 100%;
          position: relative;
          min-height: 1px;
          padding-left: 0;
          padding-right: 0;
  
          label {
            width: 90%;
          }
  
          @media (min-width: @tabletWidth) {
            float: left;
          }
        }
  
        .paymentMethodComponentRegion {
          @media screen and (max-width: @mobileWidth - 1px) {
            width: 230px;
          }
        }
      }
    }
  }
} 