/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.quick-order-modal-content {
  min-width: 500px;
}
.quick-order-modal-content #quick_order_modal_form span {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.quick-order-modal-content #quick_order_modal_form .form-control {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #f7f7f7 none repeat scroll 0 0;
}
.quick-order-modal-content #quick_order_modal_form .form-control:focus {
  background: #ffffff none repeat scroll 0 0;
}
.quick-order-modal-content #quick_order_modal_form .quick-order-form-col {
  width: 50%;
  display: inline-block;
  padding: 0px 2px;
}
.quick-order-modal-content .modal-content {
  background-color: #fff;
  border: none;
}
.quick-order-modal-content #simplemodal-container .feedback-label {
  color: red;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}
.quick-order-modal-content .form-input.btn-container {
  padding-top: 15px;
  text-align: center;
}
.quick-order-modal-content .form-container {
  margin: auto 30px;
  text-align: center;
}
.quick-order-modal-content .panel {
  margin-bottom: 10%;
}
@media (max-width: 767px) {
  .login-modal-content,
  .buy-it-again-modal-content {
    height: 100%;
    min-width: 100%;
  }
}
