/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../style/common.less';

.product-list-container {
  text-align: left;

  .compare-button{
    text-align: center;
    margin-bottom: 30px;

    .top-compare-link{
      margin: 0;
      padding: 0;
      text-transform: none;

      &:hover{
        text-decoration: none;
      }

      &.disabled {
        background-color: #9d9d9d;
        pointer-events: none;
        cursor: default;
      }
    }

    .toggle-compare-link{
      min-height: 40px;
      line-height: 40px;
      display: inline-block;
      padding: 0 15px;
      text-decoration: none;
      color: #fff;
    }
  }

  .category-items-listing {
    .category-item-container {
      position: relative;
      display: inline-block;
      width: 25%;
      padding: 0 10px 30px 10px;
      vertical-align: top;

      .compare-checkbox{
        position: absolute;
        left: 10px;
        bottom: 10px;
      }

      .category-item-inner {
        .category-item-availability-container {
          display: block;
        }

        .category-item-title {
          padding-top: 10px;
          min-height: 70px;
          font-size: 14px;
          font-weight: 800;
          line-height: 1.13;
          color: @mainBlueColor;

          a {
            color: @mainBlueColor;
          }
        }
      }

      @media (max-width: @tabletWidth - 1px) {
        width: 33%;
      }

      @media (max-width: @mobileWidth - 1px) {
        width: 50%;
      }
    }
  }
}
