/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../style/common.less';

.category-item-container {

  .category-item-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      margin: 5px 0;
      flex-grow: 0;
      width: 50%;
    }

    :nth-child(2n) {
      text-align: right;
    }

    .category-item-thumbnail-container {
      position: relative;
      order: 4;
      width: 100%;
      display: none;

      a {
        display: block;
        position: relative;
        width: 150px;
        height: 150px;

        img {
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .category-item-title {
      font-size: 14px;
      font-weight: 800;
      line-height: 1.13;
      color: @mainBlueColor;

      a {
        color: @mainBlueColor;
      }
    }

    .category-item-price-container {
      font-weight: bold;
      font-weight: 600;
      line-height: 1;
      color: #000000;

      .category-item-list-price-value {
        text-decoration: line-through;
        color: #888;
        margin-right: 9px;
      }
    }

    .category-item-availability-container {
      display: block;
      line-height: 1;

      .itemdetail-availability-state {
        vertical-align: middle;

        label {
          background-color: #fff;
          color: @mainColor;
          font-size: 10px;
          text-transform: uppercase;
          vertical-align: middle;

          .icon {
            margin-right: 6px;
            display: none;
          }
        }
      }
    }

    .category-item-code-container,
    .category-item-attr-container {
      display: block;
      font-size: 12px;
      line-height: 1.13;
      color: #777;

      a {
        color: inherit;
      }
    }
  }

  .compare-checkbox {
    display: block;
    position: absolute;
    right: 13px;
    bottom: 10px;
  }
}
