/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../style/common.less';

.product-list-container {
  text-align: left;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;

  .compare-button{
    display: none;
    text-align: left;
    padding: 0 0 10px 10px;

    .top-compare-link{
      margin: 0;

      &:hover{
        text-decoration: none;
      }

      &.disabled {
        background-color: #9d9d9d;
        pointer-events: none;
        cursor: default;
      }
    }

    .toggle-compare-link{
      height: 100%;
      display: inline-block;
      padding: 0 15px;
      text-decoration: none;
      color: #fff;
    }
  }

  .category-items-listing {
    border-top: 1px solid #888888;
    border-right: 1px solid #888888;
    display: flex;
    flex-direction: column;
    margin-left: -1px;
    margin-bottom: -1px;
    margin-right: -1px;

    .category-item-container {
      position: relative;
      width: 100%;
      border-right: 1px solid #888888;
      border-bottom: 1px solid #888888;
      border-collapse: collapse;
      margin: 0;

      @media only screen and (min-width: @mobileWidth) {
        &:nth-child(3n) {
          border-right: none;
        }
      }

      @media only screen and (min-width: @tabletWidth) and (max-width: @tabletWidth - 1px) {
        width: 50%;
      }

      @media (max-width: @mobileWidth - 1px) {
        width: 100%;
      }
    }
  }
}
