/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.category-item-container {
  border: none !important;
}
.category-item-container .category-item-inner {
  width: 100%;
  overflow: hidden;
  padding: 5px;
}
.category-item-container .category-item-inner .category-item-thumbnail-container {
  position: relative;
}
.category-item-container .category-item-inner .category-item-thumbnail-container a {
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
  z-index: 1;
}
.category-item-container .category-item-inner .category-item-thumbnail-container a img {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.category-item-container .category-item-inner .category-item-thumbnail-container:before {
  content: "";
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  -webkit-animation: skeleton-loading 1.4s ease infinite;
  animation: skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.category-item-container .category-item-inner .category-item-title {
  padding-top: 10px;
  min-height: 70px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  color: #000000;
}
.category-item-container .category-item-inner .category-item-title a {
  color: #000000;
}
.category-item-container .category-item-inner .category-item-price-container {
  font-weight: bold;
  font-weight: 600;
  line-height: 1.29;
  color: #000000;
}
.category-item-container .category-item-inner .category-item-price-container .category-item-list-price-value {
  text-decoration: line-through;
  color: #888;
  margin-right: 9px;
}
.category-item-container .category-item-inner .category-item-price-container .price-sale {
  color: #E00645;
}
.category-item-container .category-item-inner .category-item-availability-container {
  display: none;
  padding-top: 10px;
  padding-bottom: 2px;
}
.category-item-container .category-item-inner .category-item-availability-container .itemdetail-availability-state label {
  background-color: #fff;
  border-radius: 10px;
  border: solid #040060;
  border-width: 1px 1px;
  color: #040060;
  padding: 3px 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.category-item-container .category-item-inner .category-item-availability-container .itemdetail-availability-state label .icon {
  margin-right: 6px;
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
