/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.product-list-container {
  text-align: left;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;
}
.product-list-container .compare-button {
  display: none;
  text-align: left;
  padding: 0 0 10px 10px;
}
.product-list-container .compare-button .top-compare-link {
  margin: 0;
}
.product-list-container .compare-button .top-compare-link:hover {
  text-decoration: none;
}
.product-list-container .compare-button .top-compare-link.disabled {
  background-color: #9d9d9d;
  pointer-events: none;
  cursor: default;
}
.product-list-container .compare-button .toggle-compare-link {
  height: 100%;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
}
.product-list-container .category-items-listing {
  border-top: 1px solid #888888;
  border-right: 1px solid #888888;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
}
.product-list-container .category-items-listing .category-item-container {
  position: relative;
  width: 100%;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
  border-collapse: collapse;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .product-list-container .category-items-listing .category-item-container:nth-child(3n) {
    border-right: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1199px) {
  .product-list-container .category-items-listing .category-item-container {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .product-list-container .category-items-listing .category-item-container {
    width: 100%;
  }
}
