/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.product-list-pagination-component {
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  padding: 10px 0 1px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}
.product-list-pagination-component .pagination-navigation-container {
  text-align: center;
  padding-top: 40px;
}
.product-list-pagination-component .total-results {
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
.product-list-pagination-component .total-results .results-displayed-value {
  color: #888;
}
.product-list-pagination-component .btn-pagination {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  position: relative;
  text-align: center;
}
.product-list-pagination-component .btn-pagination .icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
.product-list-pagination-component .btn-pagination.prev {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #40b1f3;
}
.product-list-pagination-component .btn-pagination.prev .icon:before {
  margin-right: 5px;
  content: "\e079";
}
.product-list-pagination-component .btn-pagination.next {
  float: right;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #40b1f3;
}
.product-list-pagination-component .btn-pagination.next .icon:before {
  margin-left: 5px;
  content: "\e080";
}
.product-list-pagination-component .btn-pagination:hover,
.product-list-pagination-component .btn-pagination:focus {
  color: #333;
}
.product-list-pagination-component .btn-pagination.hide {
  width: 113px;
  visibility: hidden;
}
