/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.order-lineitem-row a {
  color: #333333;
  text-decoration: none;
}
.order-lineitem-row .quantity-col {
  text-align: center;
}
.order-lineitem-row .thumbnail-col img {
  max-width: 60px;
}
.order-lineitem-row .title-col {
  font-size: 16px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 3px;
  width: 60%;
}
.order-lineitem-row .bundle-configuration .option-name {
  font-weight: bold;
  color: #40b1f3;
}
.order-lineitem-row .purchase-price {
  font-weight: bold;
}
.order-lineitem-row .order-lineitem-option-name {
  font-weight: bold;
}
