/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.main-search-container {
  width: 170px;
  text-align: right;
}
.main-search-container .search-form {
  position: relative;
  display: inline-block;
}
.main-search-container .search-form .input-search {
  background: transparent;
  padding: 2px 0 2px 35px;
  width: 35px;
  transition: width 0.5s ease, border-color 0.5s, padding 0.5s ease-in;
  color: #fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-bottom: 1px solid transparent;
  font-weight: 300;
}
.main-search-container .search-form .input-search::placeholder {
  opacity: 0.3;
  color: #fff;
}
.main-search-container .search-form .input-search:focus {
  width: 170px;
  padding-left: 40px;
  border-bottom: 1px solid #fff;
  cursor: auto;
}
.main-search-container .search-form .search-icon {
  background: #ffffff00 url('../../../images/header-icons/magnifying-glass.png') no-repeat 9px center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 20px;
  pointer-events: none;
}
.main-search-container.mobile-view {
  width: 100%;
  border-bottom: solid 1px #dedede;
}
.main-search-container.mobile-view .search-form {
  display: block;
}
.main-search-container.mobile-view .search-form .input-search {
  color: #333;
  background-color: #fff;
  width: 100%;
  transition: none;
  font-size: 18px;
  padding: 10px 45px 10px 20px;
  border-bottom: 0;
}
.main-search-container.mobile-view .search-form .input-search::placeholder {
  opacity: 0.3;
  color: #000;
}
.main-search-container.mobile-view .search-form .input-search:focus {
  border-bottom: 0;
}
.main-search-container.mobile-view .search-form .search-icon {
  filter: invert(100%);
  opacity: 0.5;
  left: auto;
  right: 10px;
  top: 12px;
}
