/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.app-footer {
  background-color: #040060;
  color: #fff;
  padding: 30px 30px 40px;
}
.app-footer .share-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Font Awesome 5 Brands';
  font-size: 18px;
  margin-right: 10px;
}
.app-footer .share-icon.facebook:before {
  content: "\f082";
}
.app-footer .share-icon.twitter:before {
  content: "\f081";
}
.app-footer .share-icon.instagram:before {
  content: "\f16d";
}
.app-footer .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.app-footer .first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.app-footer .first-row .footer-column {
  flex: 1;
  max-width: 250px;
  margin: 20px;
}
.app-footer .first-row .footer-column .content {
  color: #dedefc;
}
.app-footer .first-row .footer-column .content a {
  display: block;
  color: inherit;
}
.app-footer .second-row {
  display: none;
}
@media (max-width: 767px) {
  .app-footer .footer-column.social {
    display: none;
  }
  .app-footer .second-row {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
  .app-footer .second-row .share-icon {
    font-size: 24px;
    color: #fff;
    margin: 0 20px;
  }
}
