/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.quick-order-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d0d0d0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff;
  z-index: 4;
}
.quick-order-container h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.quick-order-container .form-inline > div {
  width: 100%;
}
.quick-order-container .quick-order-forms {
  display: table;
  width: 280px;
}
.quick-order-container .form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.quick-order-container .quick-order-form-input {
  padding-right: 10px;
  display: table-cell;
}
.quick-order-container .quantity-col {
  display: table-cell;
  width: 50px;
}
.quick-order-container .quantity-col .form-control {
  border: 1px solid #cccccc;
  font-weight: 600;
  line-height: normal;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 16px;
  text-align: center;
}
.quick-order-container .quantity-col input[type=number]::-webkit-outer-spin-button,
.quick-order-container .quantity-col input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quick-order-container .quantity-col input[type=number] {
  -moz-appearance: textfield;
}
.quick-order-container .quantity-select {
  width: 50px;
}
.quick-order-container .quick-order-btn-container {
  margin-bottom: 5px;
}
.quick-order-container .failed-message {
  color: red;
}
@media (max-width: 768px) {
  .quick-order-container .quick-order-forms {
    width: auto;
  }
  .quick-order-container .quick-order-form-input {
    width: 100%;
  }
  .quick-order-container .ep-btn.wide {
    width: 100%;
  }
}
