/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

 .payment-form-commercial-component {
   .title {
     font-size: 24px;
     margin-top: 20px;
     margin-bottom: 10px;
     padding-left: 15px;
     padding-right: 15px;
   }
 
   .feedback-container {
     padding-bottom: 2rem;
     padding-left: 15px;
     padding-right: 15px;
   }
 
   .form-horizontal {
     .form-group {
       &:before, &:after {
         content: " ";
         display: block;
         clear: both;
       }
     }
 
     .control-label {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
 
       .required-label {
         color: red;
         font-size: 16px;
         font-weight: bold;
       }
     }
 
     .form-input {
       position: relative;
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;

       .expiry-date {
          width: auto;
          vertical-align: middle;
       }

       .form-control {
         display: block;
         height: 34px;
         padding: 6px 12px;
         font-size: 14px !important;
         color: #555555;
         background-color: #ffffff;
         border: 1px solid #cccccc;
         border-radius: 4px;
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       }
 
       &.btn-container {
         padding-top: 20px;
         padding-bottom: 20px;
       }

       #saveToProfile {
        margin-left: 4px; 
       }
     }
   }
 }
 