/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.order-main-inner .order-table {
  margin-bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
@media screen and (max-width: 767px) {
  .order-main-inner .order-table {
    display: block;
    width: 100%;
  }
  .order-main-inner .order-table thead {
    display: block;
    width: 100%;
  }
  .order-main-inner .order-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .order-main-inner .order-table tbody {
    display: block;
    width: 100%;
  }
  .order-main-inner .order-table tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .order-main-inner .order-table tbody tr td {
    display: inline-block;
    width: 100%;
    border: 0;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    padding: 6px;
  }
  .order-main-inner .order-table tbody tr .thumbnail-col {
    width: 15%;
    text-align: left;
  }
  .order-main-inner .order-table tbody tr .title-col {
    width: 50%;
    text-align: left;
  }
  .order-main-inner .order-table tbody tr .options-col {
    width: 50%;
    text-align: left;
  }
  .order-main-inner .order-table tbody tr .quantity-col {
    width: 50%;
    text-align: left;
  }
  .order-main-inner .order-table tbody tr .total-price-col {
    width: 50%;
    text-align: right;
  }
}
.order-main-inner .order-table tbody tr {
  border-bottom: 1px solid #d0d0d0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.order-main-inner .order-table tbody .thumbnail-col {
  width: 1%;
}
