/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.checkout-commercial-container .checkout-commercial-block {
  margin-bottom: 2rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .checkout-commercial-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d0d0d0;
  padding: 0.75rem 1.25rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .checkout-commercial-header .header-title {
  font-weight: bold;
  font-size: medium;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row {
  margin: 2rem 0;
  font-weight: bold;
}
@media (max-width: 767px) {
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-street-address,
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-extended-address,
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-geographical {
    margin-left: 1rem;
  }
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-street-address .address-postal-code,
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-extended-address .address-postal-code,
  .checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .address-row .address-geographical .address-postal-code {
    display: block;
  }
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .comment-area {
  width: 100%;
  margin: 2rem 0;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .payment-row {
  margin: 2rem 0;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .collapse-content {
  margin: 2rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .collapse-content .divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .collapsed-content .collapsed-label {
  margin: 1rem 0;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .collapsed-content .collapsed-row {
  margin-bottom: 1rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .credit-container {
  margin-top: 2rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .focused-header {
  background-color: #515151;
  color: #fff;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .name-label {
  margin-left: 1rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .no-shipping {
  margin-top: 2rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .payment-title {
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .payment-radio-group {
  display: inline-block;
  margin-top: 1rem;
}
.checkout-commercial-container .checkout-commercial-block .checkout-commercial-component .payment-radio-group .radio-right {
  margin-left: 1rem;
}
.checkout-commercial-container .payment-container .paymentMethodComponentRegion {
  display: inline-block;
  margin-left: 2rem;
}
