/**
 * @file
 * Elasticpath layout styling.
 * Copied from Bartik.
 */

/*
 * Container
 */
.layout-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*
 * Main
 */
.layout-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.layout-banner-wrapper {
  display: block;
  flex-shrink: 1;
}

.layout-main {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}

/* Wide */
@media all and (min-width: 1200px) {
  .layout-main-wrapper {
    width: 1092px;
  }
}

/* Styling for front page layout */
.layout-main-wrapper.home {
  width: 100%;
}
