/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.checkout-container {
  .checkout-block {
    margin-bottom: 2rem;
    .checkout-component {
      border: 1px solid rgba(0,0,0,.125);
      .checkout-content {
        margin: 2rem;
        .divider {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
      .checkout-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: @mainGrey;
        padding: .75rem 1.25rem;
        .header-title {
          font-weight: bold;
          font-size: medium;
        }
      }
      .address-row {
        margin: 2rem 0;
        font-weight: bold;
        @media (max-width: @mobileWidth - 1px) {
          .address-street-address,
          .address-extended-address,
          .address-geographical {
            margin-left: 1rem;
            .address-postal-code {
              display: block;
            }
          }
        }
      }
      .payment-row {
        margin: 2rem 0;
      }
      .credit-container {
        margin-top: 2rem;
      }
      .name-label {
        margin-left: 1rem;
      }
      .no-shipping {
        margin-top: 2rem;
      }
    }
  }
  .payment-container {
    .paymentMethodComponentRegion {
      display: inline-block;
      margin-left: 2rem;
    }
  }
}