/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.order-commercial {
  position: relative;
  .order-col-prd, .order-col-availability, .order-col-qty, .order-col-each, .order-col-total {
      display: inline-block;
  }
  .order-title-row {
    margin: 0;
  }
  @media (max-width: 767px) {
    .order-title-row {
        display: none;
    }
    .order-col-prd {
        width: 25%;
    }
    .options-col {
        width: 75%;
    }
    .order-col-availability {
        width: 100%;
        margin-bottom: 1rem;
    }
    .order-col-qty {
        width: 20%;
    }
    .order-col-each, .order-col-total {
        text-align: right;
        width: 40%;
    }
  }
  .order-commercial-inner {
    margin-left: -15px;
    margin-right: -15px;
    .view-title {
      color: #000000;
      text-transform: capitalize;
      border: none;
    }
    .order-lineitem-row {
      border-bottom: 1px solid #d0d0d0;
      padding-top: 15px;
      padding-bottom: 15px;
      max-width: 100%;
      overflow-x: hidden;
      .availability-col {
        display: inline-block;
        width: auto;
        text-align: right;
        .availability-container {
          .itemdetail-availability-state {
            .icon {
              position: relative;
              top: 1px;
              display: inline-block;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              margin-right: 6px;
              margin-top: -4px;
            }
            .icon:before {
              content: "\e013";
            }
          }
        }
      }
      .total-price-col .cart-total-purchase-price {
          font-weight: bold;
          text-align: left;
      }
      .unit-price-col {
          display: inline-block;
          width: 100%;
      }
      .total-price-col {
          display: inline-block;
          width: 100%;
      }
      .title-col {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: bold;
          padding-bottom: 3px;
          width: 100%;
          vertical-align: top;
      }
      .order-row {
        margin-left: 0;
        margin-right: 0;
      }
      .title-col {
        width: auto;
      }
    }
    .order-title-container {
      border-bottom: 1px solid #d0d0d0;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #ffffff;
      z-index: 4;
      h1 {
        display: inline-block;
        position: relative;
        width: 70%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 24px;
        color: gray;
      }
      .order-confirmation {
        padding: 0 15px;
        margin-bottom: 2rem;
      }
    }
    @media screen and (max-width: @mobileWidth - 1px) {
      font-size: 16px;
    }
    .checkout-sidebar {
      float: right;
      position: relative;
      min-height: 1px;
      margin-bottom: 2rem;
      width: 100%;
      .checkout-sidebar-inner {
        background-color: rgba(255, 255, 255, 0.6);
        bottom: 0;
        background: #ffffff;
        @media screen and (max-width: @mobileWidth - 1px) {
          width: 95%;
          margin: auto;
        }
        .checkout-summary-container {
          width: 280px;
          @media screen and (max-width: @mobileWidth - 1px) {
            width: 100%;
          }
        }
        .order-review-btn {
          margin-right: 0;
          @media screen and (max-width: @tabletWidth - 1px) {
            width: 280px;
          }
          @media screen and (max-width: @mobileWidth - 1px) {
            width: 100%;
          }
        }
      }
    }
  }
  .order-main-container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid @mainGrey;
    .order-section {
      padding: 0;
      .order-label-row {
        background-color: darken(@mainGrey, 50%);
        color: #ffffff;
        padding: 0 15px;
      }
      .shipping-info, .billing-info {
        margin: 0;
        .address-container {
          padding: 0;
          font-weight: 500;
          .address-postal-code {
            display: block;
          }
        }
        .shipping-billing-title {
          font-weight: bold;
          margin: 1rem 0;
        }
      }
      .shipping-info {
        margin-bottom: 2rem;
      }
    }
  }
}
