/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../style/common.less';

.cart-link-container {
  margin-right:20px;
  padding-top: 20px;
  padding-right: 9px;
  //background: #ffffff00 url(../../../images/header-icons/bag-icon.png) no-repeat 0px;
  .cart-link {
    position: absolute;
    top: 0;
    width: 23px;
    padding: 10px;
    height: 21px;
    background: #ffffff00 url(../../../images/header-icons/bag-icon.png) no-repeat 0px;
    //background-position: center top;
    //line-height: 0;
    //font-size: 0;
    //background-size: cover;
    //position: relative;

    .cart-link-counter {
      top: 0;
      right: 0;
      left: unset;
      transform: translate(25%, -25%);
      text-align: center;
      position: absolute;
      background-color: #40b1f3;
      min-width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      border-radius: 50%;
      color: white;
      font-weight: bold;
    }
  }
}