/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.main-locale-container {
  position: relative;
  display: inline-block;
}
.main-locale-container .currency-logo {
  display: inline;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.main-locale-container .dropdown-toggle::after {
  display: none;
}
.main-locale-container .dropdown-toggle {
  font-size: 13px;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.main-locale-container .dropdown-toggle:focus {
  box-shadow: none;
}
.main-locale-container .dropdown-menu {
  border-radius: 8px;
}
.main-locale-container .dropdown-menu .dropdown-item {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .main-locale-container {
    top: 0;
  }
  .main-locale-container .locale-dropdown .dropdown-toggle {
    background-color: #f7f7f7;
    color: #040060;
    font-size: 14px;
    margin-top: 0px;
    float: right;
  }
  .main-locale-container .locale-dropdown .dropdown-menu {
    position: absolute;
  }
}
.main-locale-container.mobile-view .dropdown-toggle {
  font-size: 14px;
  color: #040060;
  border: 1px solid transparent;
}
.main-locale-container.mobile-view .dropdown-toggle:focus {
  border: 1px solid #040060;
}
