/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.logo-container {
  padding-left: 25px;
  padding-top: 4px;

  @media only screen and (min-width: @mobileWidth) {
    .logo {
      padding: 15px;
      display: block;

      .logo-image {
        height: 20px;
      }
    }
  }

  @media only screen and (max-width: @mobileWidth - 1) {
    .logo {
      padding: 0 0 0 15px;
      display: block;
      height: 20px;

      .logo-image {
        height: 13px;
      }
    }
  }
}
