/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.cart-lineitem-row {
  border-bottom: 1px solid #d0d0d0;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: auto;
}
.cart-lineitem-row label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.cart-lineitem-row .thumbnail-col {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.cart-lineitem-row .thumbnail-col img {
  max-width: 60px;
}
.cart-lineitem-row .featured {
  font-size: 11px;
}
.cart-lineitem-row .title-col {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 3px;
  width: 60%;
  vertical-align: top;
}
.cart-lineitem-row .options-col {
  display: inline-block;
  width: 50%;
}
.cart-lineitem-row .options-col .bundle-configuration .option-name {
  font-weight: bold;
  color: #40b1f3;
}
.cart-lineitem-row .promotions-col {
  display: block;
  width: 33%;
  text-align: left;
}
.cart-lineitem-row .availability-col {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.cart-lineitem-row .availability-col .availability-container .itemdetail-availability-state {
  padding: 0;
}
.cart-lineitem-row .availability-col .availability-container .itemdetail-availability-state div {
  float: right;
  background-color: #fff;
  border-radius: 10px;
  border: solid #040060;
  border-width: 1px 1px;
  color: #040060;
  padding: 3px 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.cart-lineitem-row .availability-col .availability-container .itemdetail-availability-state .icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 6px;
  margin-top: -4px;
}
.cart-lineitem-row .availability-col .availability-container .itemdetail-availability-state .icon:before {
  content: "\e013";
}
.cart-lineitem-row .unit-price-col {
  display: inline-block;
  width: 50%;
}
.cart-lineitem-row .unit-price-col .cart-unit-list-price {
  text-decoration: line-through;
}
.cart-lineitem-row .total-price-col {
  display: inline-block;
  width: 50%;
}
.cart-lineitem-row .total-price-col .cart-total-purchase-price {
  font-weight: bold;
  text-align: right;
}
.cart-lineitem-row .remove-btn-col,
.cart-lineitem-row .move-to-cart-btn-col,
.cart-lineitem-row .configure-btn-col {
  float: right;
}
.cart-lineitem-row th:last-child,
.cart-lineitem-row td:last-child {
  text-align: center;
}
.cart-lineitem-row th:first-child,
.cart-lineitem-row td:first-child {
  padding-left: 30px;
}
.cart-lineitem-row .quantity-col {
  display: inline-block;
  width: 105px;
  height: 30px;
}
.cart-lineitem-row .quantity-col .form-control {
  height: 34px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.cart-lineitem-row .quantity-col .input-group-btn {
  float: left;
  border: solid 1px #d0d0d0;
  justify-content: space-between;
  align-items: center;
}
.cart-lineitem-row .quantity-col .input-group-btn .quantity-right-plus,
.cart-lineitem-row .quantity-col .input-group-btn .quantity-left-minus {
  background-color: white;
  border-radius: 0 !important;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  text-transform: none;
  font-weight: normal;
  float: right;
  height: 34px;
}
.cart-lineitem-row .quantity-col .input-group-btn .quantity-left-minus {
  border-right: 0 !important;
  float: left;
}
.cart-lineitem-row .quantity-col .input-group-btn .quantity-right-plus {
  border-left: 0 !important;
}
.cart-lineitem-row .quantity-col .input-group-btn .form-content-quantity {
  width: 50px;
}
.cart-lineitem-row .quantity-col .input-group-btn .form-content-quantity .form-control-quantity {
  width: 50px;
  font-size: 14px;
  text-align: center;
}
.cart-lineitem-row .quantity-col .input-group-btn .form-content-quantity input[type=number]::-webkit-outer-spin-button,
.cart-lineitem-row .quantity-col .input-group-btn .form-content-quantity input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-lineitem-row .quantity-col .input-group-btn .form-content-quantity input[type=number] {
  -moz-appearance: textfield;
}
.cart-lineitem-row .quantity-col .product-display-item-quantity-update-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-size: 12px;
  cursor: pointer;
}
.cart-lineitem-row .quantity-col .product-display-item-quantity-update-button:hover {
  color: #40b1f3;
  text-decoration: underline;
}
.cart-lineitem-row .quantity-select {
  min-width: 70px;
}
