/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.product-recomentations-component {
  padding: 20px;
}
.product-recomentations-component .control-label {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0px;
}
.product-recomentations-component .card-deck {
  width: 100%;
  flex-flow: row wrap;
}
.product-recomentations-component .card-deck .card {
  max-width: 160px;
  min-width: 160px;
}
.product-recomentations-component .card-deck .category-item-price-container {
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1199px) {
}
@media (max-width: 668px) {
  .product-recomentations-component {
    padding-left: 0px;
    padding-right: 0px;
  }
}
