/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.profile-container h1 {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color: gray;
  border-bottom: 1px solid #d0d0d0;
}
.profile-container h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profile-container .btn,
.profile-container .profile-personal-info-edit-btn,
.profile-container .edit-address-btn,
.profile-container .delete-address-btn,
.profile-container .profile-delete-payment-btn {
  text-shadow: none;
  color: #00a3dd;
  background-color: #ffffff;
  border: solid 1px #00a3dd;
  border-radius: 0;
  text-align: middle;
  box-shadow: none;
  white-space: nowrap;
  height: auto;
  display: inline-block;
  width: 90px;
  height: 30px;
  margin-right: 10px;
}
.profile-container .btn-primary {
  padding: 8px 14px;
  width: 100%;
  height: 40px;
  background-color: #40b1f3;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  margin-top: 10px;
  max-width: 280px;
}
.profile-container .profile-payment-method-label-container {
  margin-bottom: 5px;
}
.profile-container .profile-info-save-btn {
  padding: 8px 14px;
  background-color: #40b1f3;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  max-width: 280px;
}
.profile-container .feedback-label {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
