/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.itemdetail-component {
  line-height: 2.14;
  padding-top: 30px;
  text-align: center;
}
.itemdetail-component .social-network-sharing {
  margin-top: 15px;
}
.itemdetail-component .social-network-sharing .st-btn {
  min-width: 50px !important;
}
.itemdetail-component .social-network-sharing .st-btn > span {
  display: none !important;
}
.itemdetail-component .itemdetail-assets {
  width: 50%;
  position: sticky;
  top: 0;
  padding: 0 10px;
  vertical-align: top;
  display: inline-block;
  z-index: 2;
}
.itemdetail-component .itemdetail-assets .itemdetail-asset-container {
  position: relative;
}
.itemdetail-component .itemdetail-assets .itemdetail-asset-container img {
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}
.itemdetail-component .itemdetail-assets .featured {
  max-width: 380px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
}
.itemdetail-component .btn-itemdetail-addtocart.wide,
.itemdetail-component .btn-itemdetail-addtowishlist.wide {
  text-transform: capitalize;
  font-size: 14px;
  width: 100%;
}
.itemdetail-component .itemdetail-details {
  vertical-align: top;
  padding: 30px 10px 0 20px;
  display: inline-block;
  width: 50%;
  font-size: 12px;
  line-height: normal;
  text-align: left;
}
.itemdetail-component .itemdetail-details .itemdetail-price-wrap {
  margin-top: 10px;
}
.itemdetail-component .itemdetail-details .itemdetail-title,
.itemdetail-component .itemdetail-details .itemdetail-price-container {
  font-weight: 600;
  line-height: 1.25;
}
.itemdetail-component .itemdetail-details .itemdetail-title .itemdetail-purchase-price-value,
.itemdetail-component .itemdetail-details .itemdetail-price-container .itemdetail-purchase-price-value {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.itemdetail-component .itemdetail-details .itemdetail-title .price-sale,
.itemdetail-component .itemdetail-details .itemdetail-price-container .price-sale {
  color: #E00645;
}
.itemdetail-component .itemdetail-details .itemdetail-title .itemdetail-list-price-value,
.itemdetail-component .itemdetail-details .itemdetail-price-container .itemdetail-list-price-value {
  color: gray;
  text-decoration: line-through;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: normal;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart {
  vertical-align: top;
  display: inline-block;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .selector-title {
  color: #8a8a8a;
  font-weight: 500;
  text-transform: uppercase;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group {
  margin-bottom: 15px;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .control-label {
  margin-top: 0.75rem;
  color: #8a8a8a;
  font-weight: 500;
  text-transform: uppercase;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .form-content {
  float: right;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .form-content .form-control {
  border: solid 1px #8a8a8a;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 180px;
  height: 30px;
  background: url(../../images/header-icons/down-arrow.png) no-repeat 96% 0;
  background-position: 152px;
  background-size: 16px 9px;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .form-content .form-control-text {
  background: #fff;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn {
  width: 100%;
  height: 40px;
  border: solid 1px #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .quantity-right-plus,
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .quantity-left-minus {
  background-color: white;
  border-radius: 0 !important;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  text-transform: none;
  font-weight: normal;
  float: right;
  margin: 5px 0;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .quantity-left-minus {
  border-right: 0 !important;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .quantity-right-plus {
  border-left: 0 !important;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .form-content-quantity {
  width: 50px;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .form-content-quantity .form-control-quantity {
  border: none;
  display: block;
  width: 50px;
  height: 34px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .form-content-quantity input[type=number]::-webkit-outer-spin-button,
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .form-content-quantity input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.itemdetail-component .itemdetail-details .itemdetail-addtocart .form-group .input-group-btn .form-content-quantity input[type=number] {
  -moz-appearance: textfield;
}
.itemdetail-component .itemdetail-details .itemdetail-attribute:nth-of-type(1) {
  border-bottom: solid 1px #d0d0d0;
  padding-bottom: 25px;
}
.itemdetail-component .itemdetail-details .itemdetail-attribute-label-col {
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.itemdetail-component .itemdetail-details .itemdetail-attribute-value-col {
  line-height: 1.5;
  color: #8a8a8a;
  font-weight: 600;
}
@media (min-width: 668px) and (max-width: 850px) {
  .itemdetail-component .itemdetail-assets {
    width: 50%;
    height: 100%;
  }
  .itemdetail-component .itemdetail-assets .itemdetail-asset-container img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 668px) {
  .itemdetail-component .itemdetail-assets {
    position: initial;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .itemdetail-component .itemdetail-details {
    display: block;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .itemdetail-component .itemdetail-assets .itemdetail-asset-container img {
    max-width: 380px;
    max-height: 380px;
  }
}
.itemdetail-component .itemdetail-availability-container {
  padding-top: 10px;
  padding-bottom: 2px;
}
.itemdetail-component .itemdetail-availability-container .itemdetail-availability-state label {
  background-color: #fff;
  border-radius: 10px;
  border: solid #040060;
  border-width: 1px 1px;
  color: #040060;
  padding: 3px 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.itemdetail-component .itemdetail-availability-container .itemdetail-availability-state label .icon {
  margin-right: 6px;
}
.itemdetail-tabs-wrap {
  margin-top: 30px;
}
.itemdetail-tabs .nav-item {
  margin-bottom: 0;
}
.itemdetail-tabs .nav-item .nav-link {
  padding: 5px 15px;
  font-size: 14px;
  color: #666;
}
.itemdetail-tabs .nav-item .nav-link:hover {
  border-color: transparent;
  color: #333333;
}
.itemdetail-tabs .nav-item .nav-link.active {
  color: #333333;
  font-weight: bold;
  border-color: transparent;
  border-bottom-color: #333333;
}
.itemdetail-tabs .nav-item .nav-link.disabled {
  cursor: default;
  color: #666;
}
.product-image-carousel .slick-arrow {
  height: 30px;
  width: 24px;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;
}
.product-image-carousel .slick-arrow:before {
  content: '';
  width: 15px;
  height: 15px;
  border-color: #000;
  position: absolute;
  top: 7px;
  color: #000;
}
.product-image-carousel .slick-prev {
  left: 10px;
}
.product-image-carousel .slick-prev:before {
  left: 8px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product-image-carousel .slick-next {
  right: 10px;
}
.product-image-carousel .slick-next:before {
  right: 8px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.guide {
  margin: 8px 0 20px;
}
.guide .select-wrap {
  display: inline-block;
  margin-right: 10px;
}
.guide .select-wrap label {
  cursor: pointer;
}
.guide .color-wrap input[type="radio"] + label {
  background: gray;
  width: 40px;
  text-indent: -9999px;
  border: 1px solid #ffffff;
}
.guide .color-wrap input[type="radio"]:checked + label {
  border-color: #ffffff;
}
.guide input[type="radio"] {
  display: none;
}
.guide input[type="radio"] + label {
  color: gray;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #d0d0d0;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
.guide input[type="radio"]:checked + label {
  color: #333333;
  border-color: #333333;
  box-shadow: 0 0 0 1px black;
  z-index: 1;
}
@media (max-width: 768px) {
  .itemdetail-tabs .nav-item .nav-link {
    padding: 5px;
  }
}
