/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.order-commercial {
  position: relative;
}
.order-commercial .order-col-prd,
.order-commercial .order-col-availability,
.order-commercial .order-col-qty,
.order-commercial .order-col-each,
.order-commercial .order-col-total {
  display: inline-block;
}
.order-commercial .order-title-row {
  margin: 0;
}
@media (max-width: 767px) {
  .order-commercial .order-title-row {
    display: none;
  }
  .order-commercial .order-col-prd {
    width: 25%;
  }
  .order-commercial .options-col {
    width: 75%;
  }
  .order-commercial .order-col-availability {
    width: 100%;
    margin-bottom: 1rem;
  }
  .order-commercial .order-col-qty {
    width: 20%;
  }
  .order-commercial .order-col-each,
  .order-commercial .order-col-total {
    text-align: right;
    width: 40%;
  }
}
.order-commercial .order-commercial-inner {
  margin-left: -15px;
  margin-right: -15px;
}
.order-commercial .order-commercial-inner .view-title {
  color: #000000;
  text-transform: capitalize;
  border: none;
}
.order-commercial .order-commercial-inner .order-lineitem-row {
  border-bottom: 1px solid #d0d0d0;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  overflow-x: hidden;
}
.order-commercial .order-commercial-inner .order-lineitem-row .availability-col {
  display: inline-block;
  width: auto;
  text-align: right;
}
.order-commercial .order-commercial-inner .order-lineitem-row .availability-col .availability-container .itemdetail-availability-state .icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 6px;
  margin-top: -4px;
}
.order-commercial .order-commercial-inner .order-lineitem-row .availability-col .availability-container .itemdetail-availability-state .icon:before {
  content: "\e013";
}
.order-commercial .order-commercial-inner .order-lineitem-row .total-price-col .cart-total-purchase-price {
  font-weight: bold;
  text-align: left;
}
.order-commercial .order-commercial-inner .order-lineitem-row .unit-price-col {
  display: inline-block;
  width: 100%;
}
.order-commercial .order-commercial-inner .order-lineitem-row .total-price-col {
  display: inline-block;
  width: 100%;
}
.order-commercial .order-commercial-inner .order-lineitem-row .title-col {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 3px;
  width: 100%;
  vertical-align: top;
}
.order-commercial .order-commercial-inner .order-lineitem-row .order-row {
  margin-left: 0;
  margin-right: 0;
}
.order-commercial .order-commercial-inner .order-lineitem-row .title-col {
  width: auto;
}
.order-commercial .order-commercial-inner .order-title-container {
  border-bottom: 1px solid #d0d0d0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff;
  z-index: 4;
}
.order-commercial .order-commercial-inner .order-title-container h1 {
  display: inline-block;
  position: relative;
  width: 70%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color: gray;
}
.order-commercial .order-commercial-inner .order-title-container .order-confirmation {
  padding: 0 15px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .order-commercial .order-commercial-inner {
    font-size: 16px;
  }
}
.order-commercial .order-commercial-inner .checkout-sidebar {
  float: right;
  position: relative;
  min-height: 1px;
  margin-bottom: 2rem;
  width: 100%;
}
.order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner {
    width: 95%;
    margin: auto;
  }
}
.order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner .checkout-summary-container {
  width: 280px;
}
@media screen and (max-width: 767px) {
  .order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner .checkout-summary-container {
    width: 100%;
  }
}
.order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner .order-review-btn {
  margin-right: 0;
}
@media screen and (max-width: 1199px) {
  .order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner .order-review-btn {
    width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .order-commercial .order-commercial-inner .checkout-sidebar .checkout-sidebar-inner .order-review-btn {
    width: 100%;
  }
}
.order-commercial .order-main-container {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0;
}
.order-commercial .order-main-container .order-section {
  padding: 0;
}
.order-commercial .order-main-container .order-section .order-label-row {
  background-color: #515151;
  color: #ffffff;
  padding: 0 15px;
}
.order-commercial .order-main-container .order-section .shipping-info,
.order-commercial .order-main-container .order-section .billing-info {
  margin: 0;
}
.order-commercial .order-main-container .order-section .shipping-info .address-container,
.order-commercial .order-main-container .order-section .billing-info .address-container {
  padding: 0;
  font-weight: 500;
}
.order-commercial .order-main-container .order-section .shipping-info .address-container .address-postal-code,
.order-commercial .order-main-container .order-section .billing-info .address-container .address-postal-code {
  display: block;
}
.order-commercial .order-main-container .order-section .shipping-info .shipping-billing-title,
.order-commercial .order-main-container .order-section .billing-info .shipping-billing-title {
  font-weight: bold;
  margin: 1rem 0;
}
.order-commercial .order-main-container .order-section .shipping-info {
  margin-bottom: 2rem;
}
