/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.featured-parallax-component {
  height: 100%;
}
.featured-parallax-component .section {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  display: table;
  min-height: 260px;
}
.featured-parallax-component .section .sub-section {
  vertical-align: middle;
  display: table-cell;
}
.featured-parallax-component .section-parallax {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  display: table;
  min-height: 260px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: black;
  height: 35vw;
  max-height: 700px;
}
.featured-parallax-component .section-parallax .sub-section {
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  height: 100%;
}
.featured-parallax-component .section-parallax-1 .sub-section {
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 1091px) {
  .featured-parallax-component .section-parallax {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .featured-parallax-component .section {
    min-height: 0px;
  }
  .featured-parallax-component .section-parallax {
    height: 60vh;
  }
  .featured-parallax-component .section-parallax .parallax-image {
    height: 70vh;
    object-fit: cover;
  }
  .featured-parallax-component .section-parallax .sub-section {
    left: 0;
    top: 0;
    bottom: 10%;
    transform: translate(0, 0);
  }
  .featured-parallax-component .section-parallax-1 .parallax-image {
    height: 70vh;
    object-position: 70%;
  }
}
