/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.personal-information-container .personal-info-container {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1rem;
}
.personal-information-container .personal-info-container:before,
.personal-information-container .personal-info-container:after {
  content: " ";
  display: table;
  clear: both;
}
.personal-information-container .personal-info-container .personal-info-firstName,
.personal-information-container .personal-info-container .personal-info-email,
.personal-information-container .personal-info-container .personal-info-lastName {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.personal-information-container .personal-info-container .personal-info-firstName .info-label,
.personal-information-container .personal-info-container .personal-info-email .info-label,
.personal-information-container .personal-info-container .personal-info-lastName .info-label {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 1;
  padding-right: 1;
  font-weight: 700;
}
.personal-information-container .personal-info-container .personal-info-firstName .info-value,
.personal-information-container .personal-info-container .personal-info-email .info-value,
.personal-information-container .personal-info-container .personal-info-lastName .info-value {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 30px;
  padding-right: 30px;
}
.personal-information-container .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
