/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.top-header {
  display: none;
}
@media screen and (min-width: 1200px) {
  .top-header {
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: #3b3384 solid 1px;
    display: block;
  }
  .top-header .top-container {
    height: 100%;
    background-color: #040060;
  }
  .top-header .locale-container {
    position: absolute;
    margin-top: 12px;
    margin-left: 35px;
  }
  .top-header .locale-container button {
    color: #a7a6b9;
    font-size: 12px;
  }
  .top-header .top-container-menu {
    position: absolute;
    right: 30px;
    top: 12px;
  }
  .top-header .top-container-menu ul {
    overflow: hidden;
    white-space: nowrap;
  }
  .top-header .top-container-menu li {
    font-size: 12px;
    margin: 0 11px;
    display: inline-block;
  }
  .top-header .top-container-menu li a {
    color: #a7a6b9;
    text-decoration: none;
  }
  .top-header .top-container-menu li :hover {
    text-decoration: underline;
  }
}
