/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.order-container {
  position: relative;
}
.order-container .cart-summary-label-col {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.order-container .order-container-inner {
  margin-left: -15px;
  margin-right: -15px;
}
.order-container .order-container-inner .view-title {
  color: #000000;
  text-transform: capitalize;
}
.order-container .order-container-inner .order-title-container h1 {
  float: left;
  position: relative;
  width: 70%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color: gray;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  background: #ffffff;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .order-container .order-container-inner {
    font-size: 16px;
  }
}
.order-container .order-container-inner .checkout-sidebar {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
}
@media (max-width: 1199px) {
  .order-container .order-container-inner .checkout-sidebar {
    float: left;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .order-container .order-container-inner .checkout-sidebar {
    float: left;
    width: 100%;
  }
}
.order-container .order-container-inner .checkout-sidebar .checkout-sidebar-inner {
  display: block;
  position: relative;
  display: inline-block;
  padding: 32px;
  border-top: 1px solid #d0d0d0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  bottom: 0;
  background: #ffffff;
  font-weight: bold;
  width: 100%;
}
.order-container .order-container-inner .checkout-sidebar .checkout-sidebar-inner .checkout-subtotal {
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .order-container .order-container-inner .checkout-sidebar .checkout-sidebar-inner {
    position: relative;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .order-container .order-container-inner .checkout-sidebar .checkout-sidebar-inner {
    width: 100%;
  }
}
.order-container .order-container-inner .checkout-sidebar .checkout-sidebar-inner h3 {
  margin: 0 0 32px 0;
}
.order-container .order-main-container {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 32px;
}
.order-container .order-main-container .order-options-container {
  padding-bottom: 32px;
  border-bottom: 1px solid #d0d0d0;
}
.order-container .order-main-container .order-options-container h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
