/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Styling for Top Navigation Bar regions.
 */
.top-nav.row {
  margin-right: 0;
  margin-left: 0;
  border-bottom: #3b3384 solid 1px;
  height: 45px;
}
.top-nav .top-nav-first {
  text-align: left;
  margin-top: 12px;
}
.top-nav .top-nav-second {
  text-align: right;
  padding-right: 0;
}
/**
 * Force blocks contained these regions to flow horizontally.
 */
.top-nav > .top-nav-first > div > div,
.top-nav > .top-nav-second > div > div {
  display: inline-block;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .top-nav .top-nav-first {
    padding-left: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .top-nav .top-nav-first {
    padding-left: 15px;
  }
}
