/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.app-login-component .auth-profile-menu-list {
  margin-bottom: 0;
}
.app-login-component .login-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.app-login-component .dropdown .dropdown-toggle::after {
  display: none;
}
.app-login-component .dropdown .btn-auth-menu {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.app-login-component .dropdown .btn-auth-menu:hover {
  background-color: transparent;
}
.app-login-component .dropdown .btn-auth-menu:focus {
  background-color: transparent;
}
.app-login-component .dropdown .btn-auth-menu .icon {
  display: inline-block;
}
.app-login-component .dropdown .btn-auth-menu .icon:before {
  content: " ";
  display: inline-block;
  width: 25px;
  height: 21px;
  background: #ffffff00 url(../../../images/header-icons/account-icon.png) no-repeat 0px center;
  background-size: cover;
}
.app-login-component .dropdown .logout-link,
.app-login-component .dropdown .profile-link,
.app-login-component .dropdown .wishlist-link {
  padding: 5px 0px;
  text-align: left;
  border: none;
  background-color: transparent;
  color: #555;
  text-decoration: none;
}
.app-login-component .dropdown .profile-link div,
.app-login-component .dropdown .wishlist-link div {
  padding: 5px 0px;
}
.app-login-component .dropdown .dropdown-item:hover {
  background-color: #e2e2e2;
}
.app-login-component .dropdown .dropdown-menu {
  border-radius: 8px;
  padding-bottom: 0;
}
.app-login-component .dropdown .dropdown-menu .dropdown-item {
  height: 35px;
  vertical-align: middle;
}
.app-login-component .dropdown .dropdown-menu .dropdown-item .dropdown-header {
  border-bottom: 1px solid #eee;
}
.app-login-component.mobile-view {
  padding: 10px 0px;
}
.app-login-component.mobile-view .login-btn {
  color: #040060;
  font-size: 19px;
  font-weight: bold;
}
.app-login-component.mobile-view .dropdown {
  padding-top: 15px;
  padding-bottom: 15px;
}
.app-login-component.mobile-view .dropdown.show {
  background-color: #eee;
}
.app-login-component.mobile-view .dropdown .dropdown-toggle {
  display: inline-block;
  color: #040060;
  font-size: 19px;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
}
.app-login-component.mobile-view .dropdown .dropdown-menu {
  text-align: center;
  float: none;
  position: static !important;
  margin: 0;
  border: 0;
  background-color: transparent;
  transform: none !important;
  font-size: 17px !important;
  padding: 0;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item {
  cursor: pointer;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #e2e2e2;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .dropdown-header {
  font-size: 17px !important;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .profile-link,
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .wishlist-link {
  display: block;
  padding: 5px 0px;
  color: #040060;
  text-transform: uppercase;
  text-decoration: none;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .profile-link,
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .wishlist-link,
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .logout-link {
  padding: 5px 0px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #040060;
  text-transform: uppercase;
}
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .profile-link div,
.app-login-component.mobile-view .dropdown .dropdown-menu .dropdown-item .wishlist-link div {
  padding: 0px;
}
