/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

.purchase-information-container {
  position: relative;
  .purchase-col-prd, .purchase-col-qty, .purchase-col-each, .purchase-col-total {
      display: inline-block;
  }
  .purchase-title-row {
    margin: 0;
  }
  @media (max-width: 767px) {
    .options-col {
        width: 75%;
    }
    .purchase-col-prd {
        width: 25%;
    }
    .purchase-col-qty {
        width: 100%;
    }
    .purchase-col-tax {
        width: 100%;
    }
    .puchase-col-each {
      width: 100%;
    }
    .purchase-col-total {
        text-align: right;
    }
  }
  .purchase-main-inner {
    .view-title {
      color: #000000;
      text-transform: capitalize;
      border: none;
    }
    .purchase-lineitem-row {
      border-bottom: 1px solid #d0d0d0;
      padding-top: 15px;
      padding-bottom: 15px;
      max-width: 100%;
      overflow-x: hidden;
      .total-price-col .purchase-total-purchase-price {
          font-weight: bold;
          text-align: left;
      }
      .unit-price-col {
          display: inline-block;
          width: 100%;
      }
      .total-price-col {
          display: inline-block;
          width: 100%;
      }
      .title-col {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: bold;
          padding-bottom: 3px;
          width: 100%;
          vertical-align: top;
      }
      .purchase-row {
        margin-left: 0;
        margin-right: 0;
      }
      .title-col {
        width: auto;
      }
    }
    .purchase-title-container {
      border-bottom: 1px solid #d0d0d0;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #ffffff;
      z-index: 4;
      h1 {
        display: inline-block;
        position: relative;
        width: 70%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 24px;
        color: gray;
      }
    }
    @media screen and (max-width: @mobileWidth - 1px) {
      font-size: 16px;
    }
  }

  .purchase-sidebar {
    float: right;
    position: relative;
    min-height: 1px;
    margin-bottom: 2rem;
    width: 100%;
    .purchase-sidebar-inner {
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0;
      background: #ffffff;
      @media screen and (max-width: @mobileWidth - 1px) {
        width: 95%;
        margin: auto;
      }
      .purchase-summary-container {
        width: 280px;
        @media screen and (max-width: @mobileWidth - 1px) {
          width: 100%;
        }

        .purchase-summary-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .purchase-summary-total {
          margin-top: 1rem;
          font-weight: bold;
        }
      }
      .purchase-review-btn {
        margin-right: 0;
        @media screen and (max-width: @tabletWidth - 1px) {
          width: 280px;
        }
        @media screen and (max-width: @mobileWidth - 1px) {
          width: 100%;
        }
      }
    }
  }
  .purchase-options-container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid @mainGrey;
    .purchase-section {
      padding: 0;
      .purchase-label-row {
        background-color: darken(@mainGrey, 50%);
        color: #ffffff;
        padding: 0 15px;
      }
      .shipping-info, .billing-info {
        margin: 0;
        .address-container {
          padding: 0;
          font-weight: 500;
          .address-postal-code {
            display: block;
          }
        }
        .shipping-billing-title {
          font-weight: bold;
          margin: 1rem 0;
        }
      }
      .shipping-info {
        margin-bottom: 2rem;
      }
    }
  }
}
.purchase-total {
  margin-top: 1rem;
  font-weight: bold;
}
