/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';

 .cart-summary-left {
    float: left;
}

.cart-summary-right {
   float: right;
}

.quick-order-form {
   display: block;
   margin: 0 auto;
}

.cart-container .cart-container-inner .cart-sidebar .cart-sidebar-inner {
    padding: 32px 0px !important;
}

.add-promotion-container {
    .btn-add-promotion {
        background-color: #fff !important;
        border: 1px solid @mainBlueColor !important;
        border-radius: 0;
        color: @mainColor !important;
      
        &:hover {
          background-color: @mainBlueColor !important;
        }
      
        &:focus {
          outline: none !important;
        }
    }
}

.cart-lineitem-row {
    border-bottom: 1px solid @mainGrey;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
    overflow-x: hidden;

    .availability-col {
        display: inline-block;
        width: auto;
        text-align: right;
    }
    .total-price-col .cart-total-purchase-price {
        font-weight: bold;
        text-align: left;
    }
    .unit-price-col {
        display: inline-block;
        width: 100%;
    }
    .total-price-col {
        display: inline-block;
        width: 100%;
    }
    .title-col {
        display: inline-block;
        font-size: 1.6rem;
        padding-bottom: 3px;
        width: 100%;
        vertical-align: top;
    }
}

.cart-col-prd, .cart-col-availability, .cart-col-qty, .cart-col-each, .cart-col-total {
   display: inline-block;
}
@media (max-width: @mobileWidth - 1) {
   .cart-title-row {
       display: none !important;
   }
   .cart-col-prd {
       width: 25% !important;
   }
   .options-col {
       width: 75% !important;
   }
   .cart-col-availability {
       width: 100% !important;
   }
   .cart-col-qty {
       width: 30% !important;
   }
   .cart-col-each {
       width: 30% !important;
   }
   .cart-col-total {
       width: 30% !important;
   }
   .promotions-container {
        padding-top: 20px;
    }
    .checkout-btn-container {
        padding: 0px 15px;
    }

}
@media (min-width: @mobileWidth) {
   .mobile-title {
       display: none;
   }
   .batch-add-to-cart-container {
        position: absolute;
        bottom: 0;
   }
    .batch-quick-order-container {
        position: absolute;
        bottom: 0;
    }
}
