/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.product-list-facet-navigation-component {
  float: left;
  display: table;
  min-width: 25%;
  padding-bottom: 30px;
}
.product-list-facet-navigation-component .card-stack .card {
  margin-top: 5px;
}
.product-list-facet-navigation-component .card-stack .card .card-title .facet .glyphicon {
  margin-right: 10px;
}
.product-list-facet-navigation-component .card-stack .card .card-title .facet:hover {
  text-decoration: none;
  color: #40b1f3;
  cursor: pointer;
}
.product-list-facet-navigation-component .card-stack .card .facet-value {
  padding-left: 12.5px;
}
.product-list-facet-navigation-component .card-stack .card .facet-value button {
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  padding-right: 0px;
  background: none;
  border: none;
}
.product-list-facet-navigation-component .card-stack .card .facet-value button:before {
  content: "\e157";
  font-family: "Glyphicons Halflings";
  font-size: 18px;
  font-weight: 100;
  padding-right: 10px;
  vertical-align: bottom;
  -webkit-text-stroke: 1px white;
}
.product-list-facet-navigation-component .card-stack .card .facet-value button.chosen {
  color: #40b1f3;
}
.product-list-facet-navigation-component .card-stack .card .facet-value button.chosen:before {
  content: "\e067";
}
.product-list-facet-navigation-component .card-stack .card .facet-value button:hover {
  text-decoration: none;
  color: #40b1f3;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .product-list-facet-navigation-component .card-title > a {
    pointer-events: none;
  }
  .product-list-facet-navigation-component .in.collapse {
    display: block;
  }
}
@media (max-width: 1199px) {
  .product-list-facet-navigation-component {
    display: block;
    float: none;
  }
  .product-list-facet-navigation-component .card-header {
    border-bottom: none;
  }
}
