/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
@media only screen and (min-width: 1200px) {
  .app-header-navigation-component {
    /** Right Dropdown Styling **/
    /** Left Dropdown **/
  }
  .app-header-navigation-component .hover-menu ul li {
    position: relative;
  }
  .app-header-navigation-component .hover-menu ul li:hover > ul {
    display: block;
  }
  .app-header-navigation-component .hover-menu .right-drop-down {
    position: relative;
  }
  .app-header-navigation-component .hover-menu .right-drop-down:hover > ul {
    display: block;
  }
  .app-header-navigation-component .hover-menu .left-drop-down {
    position: relative;
  }
  .app-header-navigation-component .hover-menu .left-drop-down:hover > ul {
    display: block;
  }
  .app-header-navigation-component .hover-menu .right-drop-down > .dropdown-menu {
    position: absolute;
    top: 10%;
    left: -100%;
    display: none;
    z-index: 1;
  }
  .app-header-navigation-component .hover-menu .left-drop-down > .dropdown-menu {
    position: absolute;
    top: 10%;
    left: 100%;
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .app-header-navigation-component {
    background-color: #ffffff;
    /** Colors of each level of mobile/tablet dropdown **/
  }
  .app-header-navigation-component .dropdown-menu.show {
    position: relative!important;
  }
  .app-header-navigation-component .dropdown-menu {
    text-align: center;
  }
  .app-header-navigation-component .nestedCategory0 {
    background-color: #eeeeee !important;
  }
  .app-header-navigation-component .nestedCategory1 {
    background-color: #e5e5e5 !important;
  }
  .app-header-navigation-component .nestedCategory2 {
    background-color: #dcdcdc !important;
  }
  .app-header-navigation-component .nestedCategory3 {
    background-color: #d3d3d3 !important;
  }
  .app-header-navigation-component .nestedCategory4 {
    background-color: #cacaca !important;
  }
  .app-header-navigation-component .nestedCategory5 {
    background-color: #c1c1c1 !important;
  }
  .app-header-navigation-component .nestedCategory6 {
    background-color: #b8b8b8 !important;
  }
  .app-header-navigation-component .nestedCategory7 {
    background-color: #afafaf !important;
  }
  .app-header-navigation-component .nestedCategory8 {
    background-color: #a6a6a6 !important;
  }
  .app-header-navigation-component .nestedCategory9 {
    background-color: #9d9d9d !important;
  }
}
.app-header-navigation-component .rotateCaret::after {
  transform: rotate(-90deg);
}
.app-header-navigation-component .navbar-nav {
  display: block;
}
.app-header-navigation-component .navbar-nav .nav-item {
  display: inline-block;
  white-space: nowrap;
  padding-right: 30px;
  font-size: 13px;
  font-weight: bold;
  transition: border-color 0.2s;
}
.app-header-navigation-component .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 7px;
}
.app-header-navigation-component .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.app-header-navigation-component .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 1.3rem;
  color: #555;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: border-color 0.2s;
}
.app-header-navigation-component .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #e2e2e2;
}
.app-header-navigation-component .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: transparent;
}
.app-header-navigation-component.mobile-view .navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item {
  text-align: center;
  display: block;
  padding: 0;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .nav-link {
  color: #040060;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
  text-transform: uppercase;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .nav-link:active {
  background-color: #ccc;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item.show .nav-link {
  font-weight: bold;
  background-color: #eee;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .sub-category-dropdown-menu {
  position: static !important;
  margin: 0;
  border: 0;
  background-color: transparent;
  transform: none !important;
  box-shadow: none;
  background-color: #eee;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .sub-category-dropdown-menu .dropdown-item {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #040060;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .sub-category-dropdown-menu .dropdown-item:active {
  background-color: #ccc;
}
.app-header-navigation-component.mobile-view .navbar-nav .nav-item .sub-category-dropdown-menu .dropdown-item:focus {
  background-color: #ccc;
}
