/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.cart-main-inner {
  min-height: 100%;
  margin-bottom: 0px;
}
.cart-main-inner a {
  color: #333333;
  text-decoration: none;
}
.cart-main-inner .table thead > tr > th,
.cart-main-inner .table tbody > tr > th,
.cart-main-inner .table tfoot > tr > th,
.cart-main-inner .table thead > tr > td,
.cart-main-inner .table tbody > tr > td,
.cart-main-inner .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.cart-main-inner .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.cart-main-inner .cart-table {
  margin-bottom: 0;
}
.cart-main-inner .cart-table thead {
  background: #040060;
}
.cart-main-inner .cart-table thead th:first-child {
  border-top-left-radius: 6px;
}
.cart-main-inner .cart-table thead th:last-child {
  border-top-right-radius: 6px;
}
.cart-main-inner .cart-table tr {
  border: none;
}
.cart-main-inner .cart-table tr th {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
}
.cart-main-inner .cart-table tr th:last-child {
  text-align: right;
}
.cart-main-inner .cart-table tr:last-child td {
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .cart-main-inner .cart-table {
    display: block;
    width: 100%;
  }
  .cart-main-inner .cart-table thead {
    display: block;
    width: 100%;
  }
  .cart-main-inner .cart-table tbody {
    display: block;
    width: 100%;
  }
  .cart-main-inner .cart-table tbody tr {
    display: block;
    width: 100%;
  }
  .cart-main-inner .cart-table tbody tr td {
    display: block !important;
    width: 100%;
  }
  .cart-main-inner .cart-main-inner .cart-table {
    border: 1px solid #ddd;
  }
  .cart-main-inner thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .cart-main-inner tr {
    border: 1px solid #eee;
    margin-bottom: 30px;
  }
  .cart-main-inner tr:last-child {
    margin: 0;
  }
  .cart-main-inner td {
    /* Behave  like a "row" */
    border: 0 !important;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    padding: 6px !important;
  }
  .cart-main-inner td a {
    word-wrap: break-word !important;
    white-space: normal !important;
  }
  .cart-main-inner td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
.cart-main-inner h1 {
  margin: 0 0 3rem 0;
}
.cart-main-inner ul {
  list-style-type: none;
  padding: 0;
}
.cart-main-inner li {
  list-style-type: none;
}
.cart-main-inner .cart-table > tbody > tr:nth-child(odd) > td,
.cart-main-inner .cart-table > tbody > tr:nth-child(odd) > th {
  background-color: #e9e9e9;
}
