/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.bannergeneric {
  position: relative;
  background-size: cover;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .bannergeneric {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .bannergeneric {
    height: 360px;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 767px) {
  .bannergeneric {
    height: 280px;
    font-size: 0.7em;
  }
}
.bannergeneric .content-column-wrapper {
  position: relative;
  height: 100%;
}
.bannergeneric .bannergeneric-content-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(4, 0, 96, 0.7);
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .bannergeneric .bannergeneric-content-wrapper {
    width: 25%;
    min-width: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .bannergeneric .bannergeneric-content-wrapper {
    width: 25%;
    min-width: 300px;
    right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .bannergeneric .bannergeneric-content-wrapper {
    width: 50%;
    min-width: 250px;
  }
}
.bannergeneric h1,
.bannergeneric h2,
.bannergeneric h3,
.bannergeneric h4 {
  line-height: 1.5;
}
.bannergeneric .bannergeneric-leadingtext {
  font-size: 1.6em;
  widtH: 60%;
  font-weight: 100;
}
.bannergeneric .bannergeneric-tagline {
  font-size: 2.25em;
  font-weight: 100;
  margin-bottom: 0.4em;
}
.bannergeneric .bannergeneric-markingline {
  font-size: 1.4em;
  font-weight: 100;
}
.bannergeneric .bannergeneric-login-button {
  margin-top: 3em;
  width: 100%;
  font-size: 1.1em;
  padding: 0.75em 2em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .apply-side-whitespace {
    min-width: 1200px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
