/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */
.featured-item-info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 10%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-item-info .item-description {
  min-height: 20vh;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}
.featured-item-info .item-list-price {
  text-decoration: line-through;
}
