/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import '../../style/common.less';
 
.quick-order-form {
    width: 280px;
}

.error-label {
    color: red;
    white-space: pre-line;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
    width: 280px;
}

.subtitle-label {
    display: inline-block;
    position: relative;
    width: 70%;
    min-height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
    border-bottom: 1px solid #d0d0d0;
}