/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../style/common.less';

/**
 * Styling for Main Navigation regions.
 */

.nav-main.row {
    margin-right: 0;
    align-items: center;
}

.nav-main .nav-main-first {
    text-align: left;
}

.nav-main .nav-main-second {
    text-align: left;
    padding-right: 0;
}

.nav-main .nav-main-third {
    text-align: right;
    padding-right: 25px;
}

/**
 * Force blocks contained in the left and right regions of the main navigation
 * to flow horizonatlly rather than vertically.
 */
.nav-main > .nav-main-first > div > div,
.nav-main > .nav-main-third > div > div {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

@media only screen and (min-width: @mobileWidth) {
    .nav-main .nav-main-second {
        text-align: center;
    }
}

@media only screen and (max-width: @mobileWidth - 1){
    .nav-main {

        .nav-main-first {
            padding-right: 0;
        }

        .nav-main-third {
            padding-right: 10px;
            padding-left: 0;
        }
    }
}
